@import "tailwindcss";

@theme {
  --color-gold: #D4AF37;
  --color-gold-dark: #aa8c2c;
  --font-serif: 'Poppins', sans-serif;
  --font-sans: 'Inter', sans-serif;

  --animate-fade-up: fadeUp 0.8s ease-out forwards;

  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background: #E5E5E5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D4AF37;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #FFFFFF;
  color: #333333;
  /* Dark gray, avoiding pure black */
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}